#tbLeaveRequestContainer .txt-small
{
    width: 50px;
}
#tbLeaveRequestContainer td
{
    padding-bottom: 5px;
}
#tbLeaveRequestContainer td.header
{
    white-space: nowrap;
    font-weight: bold;
}
/* Date Time Picker */
#tbLeaveRequestContainer td > table
{
    margin-top: 5px;
}
#tbLeaveRequestContainer td.ms-dtinput > input.ms-input
{
    width: 100px;
}
#tbLeaveRequestContainer select
{
    /*width: auto;*/
}
#tbLeaveRequestContainer .ms-PeoplePicker
{
    margin-top: 5px;
}
#tbLeaveRequestContainer .ms-core-form-line
{
    height: 5px;
}
