#ctl00_PlaceHolderMain_linkAddNewItem:visited {
    color: white;
}
.lbl-fixed-width {
    padding-left: 8px !important;
}
.txtMonth {
    width: 100px !important;
}
.linkAddNewItem:visited {
    color: #fff !important;
}

.tab-content .label-primary {
    background-color: #db1ed2;
}